body {
    font-family: "Lato", sans-serif;
    margin: 0;
}


.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 1px solid black; 
    overflow-x: hidden;
    padding-top: 10px;
}

#filter_header{
    padding: 0px 0 10px 0;
    font-size: 35px;
    text-align: center;
    color: black;
    border-bottom: 1px solid black 
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 300px;
    margin-top:8px;
    margin-right: 0;  /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px;
}

.main #searchdiv input[type="text"]{
    width: 75%;
    border: 1px solid black;
    border-right: none;
    height: 36px;
    font-size: 25px;
    margin-top: 1px;
    display:flex;
    float: left;
}

.main form{
    padding: 0 20% 11px 20%;
    border-bottom: 1px solid black;
}
.main #searchdiv input[type="text"]{
    border-radius: 5px 0 0 5px;
    color: rgb(22, 22, 22);
    padding-left: 10px;
    padding-right: 10px;
    background: #f1f1f1;
}
.main #searchdiv input[type="text"]:focus{
    outline: none;
    background: #fff;
}
.main #searchdiv input[type="submit"]{
    width: 15%;
    border: 1px solid black;
    height: 40px;
    margin: 0;
    border-radius: 0 5px 5px 0;
    background: #f1f1f1;
}
.main #searchdiv input[type="submit"]:hover{
    width: 15%;
    border: 1px solid rgb(0, 140, 255);
    height: 40px;
    background: rgb(72, 134, 250);
    color: white;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 18px;}
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    line-height: 27px;
    font-size: 18px;
    width: 33.33333%;
    background: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid rgb(179, 179, 179);
}
.main table .star{
    width: 25px;
    position: absolute;
    left: 0px;
    top: 3px;
    border-bottom: none;
    color: #eee;
    cursor: pointer;
    user-select: none;
}
.main table .delete{
    user-select: none;
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 3px;
    border-bottom: none;
    color: white;
    
}
.main .delete-selected{
    user-select: none;
    width: 25px;
    font-size: 130%;
    cursor: pointer;
    position: absolute;
    left: 310px;
    top: 12px;
    border-bottom: none;
    display: none;
    color: black;
}
.main .create-pc{
    user-select: none;
    width: 25px;
    font-size: 130%;
    cursor: pointer;
    position: absolute;
    left: 95%;
    top: 12px;
    display:none;
    border-bottom: none;
    color: black;
}
.main .close-form{
    user-select: none;
    width: 25px;
    font-size: 130%;
    cursor: pointer;
    position: absolute;
    left: 315px;
    top: 70px;
    border-bottom: none;
    color: black;
}
.main .edit-form{
    user-select: none;
    width: 25px;
    font-size: 130%;
    cursor: pointer;
    position: absolute;
    left: 360px;
    top: 70px;
    border-bottom: none;
    color: black;
}
#form-new-edit{
    display:none;
}
.main .delete-selected:hover{
    color: red;
}
.main table td .star, .main table td .delete{
    position: relative;
}
.main table td{
    height: 40px;
    font-size: 17px;
}
.main table td:nth-of-type(3){
    padding: 0 0 0 50px ;
}
.main table tr:hover{
    /* background: #d1d1d1; */
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 2px 4px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f0f0f0;
}

/* Create an active/current tablink class */
#tab-btn-3.active {
    border-bottom: 2px solid #1e8e3e;
    color: #1e8e3e;
    font-weight: 500;
}
 #tab-btn-1.active {
    border-bottom: 2px solid #d93025;
    color: #d93025;
    font-weight: 500;
}
 #tab-btn-2.active {
    border-bottom: 2px solid #1a73e8;
    color: #1a73e8;
    font-weight: 500;
}

.main table{
    width: 100%;
    border: 1px solid black;
    border-top:none;
    border-collapse: collapse;
}
.main th, td{
    border-bottom: 1px solid black;
}
.containers {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -6px;
    left: 6px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containers:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containers input:checked ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containers input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containers .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  @media screen and (max-width: 1000px) {
    .sidenav {
        display: none;
    }
    .main {
        margin-left: 0px;
    }
    .main .delete-selected{
        left: 10px;
        top: 12px;
    }
    .main .close-form{
        left: 15px;
    }
    .main .edit-form{
        left: 60px;
    }
}
.form-new-heading{
    font-size: 20px;
    text-align: center
}
.form-control {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:read-only, select:disabled { 
    background-color: rgb(221, 221, 221);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-group {
    margin-bottom: 15px;
    font-size: 14px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}