<script src="/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script src="/lib/popper.js/popper.min.js"></script>
<script src="/lib/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<link rel="stylesheet" href="/lib/bootstrap-4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bestilling/bestilling.css">

<div class="container">
    <h2 class="form-new-heading">Bestilling af PC</h2>
      <form class="form-new" action="/bestilling" method="POST" id="orderform">
        <div class="form-group">
          <label for="inputlagerplads"> Model: </label>
          <input type="text" id="inputModel" class="form-control" name="model" placeholder="Model" readonly >
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> Lagerplads: </label>
          <input type="text" id="inputlagerplads" class="form-control" name="storage" readonly >
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> RAM: </label>
          <select id="inputRAM" name="RAM" class="form-control"> <!-- <option value="8">8GB</option> <option value="16">16GB</option> --> </select>
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> Operativsystem: </label>
          <select id="inputOS" name="OS" class="form-control"> <option value="Ingen">Ingen</option> <option value="Windows 10 64-bit">Windows 10 64-bit</option> </select>
        </div>
        <div class="form-group">
            <label for="inputlagerplads"> Fornavn: </label>
          <input type="text" id="inputFnavn" class="form-control" name="firstname" placeholder="Fornavn" >
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> Efternavn: </label>
          <input type="text" id="inputEnavn" class="form-control" name="lastname" placeholder="Efternavn" >
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> Adresse: </label> <br>
          <input type="text" id="inputAdresse" class="form-control" name="address" placeholder="Adresse" >
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> Mail-Adresse: </label>
          <input type="text" id="inputMail" class="form-control" name="mail" placeholder="Mail" >
        </div>
        <div class="form-group">
          <label for="inputlagerplads"> Telefonnummer: </label>
          <input type="text" id="inputTlf" class="form-control" name="phone" placeholder="Tlf" >
        </div>
        <button id="btn-submit" class="btn btn-lg btn-primary btn-block" type="submit">Bestil</button>
        <button id="btn-back" class="btn btn-lg btn-danger btn-block" type="submit">Annuller</button>
      </form>
    </div>

    </div>
</div>
<script src="/js/bestilling/bestilling.js"></script>